# Carga de datos de "Panaderia Salvador"
Lo que vamos a hacer ahora es subir los datos que tenemos (Excels) a nuestra base de datos y las combertiremos en tablas.

!INCISOS SOBRE ALGUNAS COSAS QUE NO SE UTILIZAN COMO LOS PROFESORES

#### ¬øSQLAlchemy o mysql.connector?
Los 2 son validos, mysql.connector es mas basico sobretodo si se quiere hacer consultas, pero SQLAlchemy se integra mejor con pandas y, por lo que he leido, es mas comodo para hacer los analisis. (Simplemente por probar algo que funciona igual pero que tiene otras ventajas)

### 1 - Importaremos librerias y a√±adiremos los datos para la conexi√≥n

In [2]:
import xlrd # Libreria para leer archivos Excel
from sqlalchemy import create_engine, text # Libreria para la conexi√≥n a la base de datos 
import pandas as pd # Libreria para manipulaci√≥n de los datos

# datos de conexi√≥n
host = "database-1.cjyy8w6ya3fr.eu-north-1.rds.amazonaws.com"
port = 3306 # puerto por defecto en MySQL
user = "usuario1"
password = "C0d35p4ce."
nombre_base_datos = "sandbox"

### Creamos engine de conexi√≥n a la base de datos MySQL

In [3]:
# Crear engine de conexi√≥n a la base de datos MySQL
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{nombre_base_datos}")

In [17]:
# Con este codigo verificamos que se haya hecho bien la conexi√≥n
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT 1"))
        print("‚úÖ Conexi√≥n exitosa a MySQL")
except Exception as e:
    print("‚ùå Error al conectar:", e)

‚úÖ Conexi√≥n exitosa a MySQL

### Leemos los archivos Excel y los subimos a nuestra base de datos como tablas

In [ ]:
# Con pandas, leemos los archivos excel con su ruta y lo guardamos en un dataframe
df_pedidos_excel = pd.read_excel("../data/CantidadPedida.xlsx")          # Pedidos
df_ventas_excel = pd.read_excel("../data/ArticulosPanaderia.xlsx")       # Cat√°logo de productos
df_calendario_excel = pd.read_excel("../data/Calendario.xlsx")           # Calendario

# Leemos el archivo de ventas y lo transformamos
df_pedidos_excel.to_sql("dfg_pedidos", con=engine, if_exists="replace", index=False)
df_ventas_excel.to_sql("dfg_ventas", con=engine, if_exists="replace", index=False)
df_calendario_excel.to_sql("dfg_calendario", con=engine, if_exists="replace", index=False)

218

### Ver si se pueden hacer llamadas a la base de datos y guardarlas en dataframes
(aun que ya tengamos dataframes de los excels, es para ver si se pueden guardar esas tablas desde la base de datos)

In [ ]:
df_pedidos = pd.read_sql("SELECT * FROM dfg_pedidos LIMIT 5", con=engine)
df_ventas = pd.read_sql("SELECT * FROM dfg_ventas LIMIT 5", con=engine)
df_calendario = pd.read_sql("SELECT * FROM dfg_calendario LIMIT 5", con=engine)

# Mostrar resultados
print("üì¶ Primeras filas de dfg_pedidos:")
print(df_pedidos)
print("----------------------------------------------")
print("üì¶ Primeras filas de dfg_ventas:")
print(df_ventas)
print("----------------------------------------------")
print("üì¶ Primeras filas de dfg_calendario:")
print(df_calendario)
print("----------------------------------------------")

üì¶ Primeras filas de dfg_pedidos:
     Familia    Tipo      Fecha  Articulo  Cantidad  Precio  Importe
0  PANADERIA  PEDIDO 2017-09-18       417      42.0    3.75    157.5
1  PANADERIA  PEDIDO 2017-09-18       498      75.0    3.90    292.5
2  PANADERIA  PEDIDO 2017-09-18       854     360.0    0.45    162.0
3  PANADERIA  PEDIDO 2017-09-18       900     240.0    0.90    216.0
4  PANADERIA  PEDIDO 2017-09-18       918      30.0    1.20     36.0
----------------------------------------------
üì¶ Primeras filas de dfg_ventas:
    FAMILIA   Tipo FechaVenta  HoraVenta  Articulo  Cantidad  Precio  Importe
0  BOLLERIA  VENTA 2017-01-01          8      5820       3.0   4.091   12.273
1  BOLLERIA  VENTA 2017-01-01          9      3880      12.0   2.182   26.184
2  BOLLERIA  VENTA 2017-01-01          9      3894       6.0   3.000   18.000
3  BOLLERIA  VENTA 2017-01-01          9      3960      21.0   1.773   37.233
4  BOLLERIA  VENTA 2017-01-01          9      3974      15.0   3.273   49.095
----------------------------------------------
üì¶ Primeras filas de dfg_calendario:
       Fecha              Festivo
0 2017-01-01            A√±o Nuevo
1 2017-01-06         D√≠a de Reyes
2 2017-02-14  D√≠a de San Valent√≠n
3 2017-03-19        D√≠a del Padre
4 2017-04-09     Domingo de Ramos
----------------------------------------------

In [8]:
query = "SELECT * FROM dfg_ventas WHERE ARTICULO = '3960'"

# Consultar la query anterior y devolverla como un dataframe de Pandas
ventas = pd.read_sql(query, con=engine)

ventas

,FAMILIA,Tipo,FechaVenta,HoraVenta,Articulo,Cantidad,Precio,Importe
0,BOLLERIA,VENTA,2017-01-01,9,3960,21.0,1.773,37.233
1,BOLLERIA,VENTA,2017-01-01,10,3960,105.0,1.773,186.165
2,BOLLERIA,VENTA,2017-01-01,16,3960,6.0,1.773,10.638
3,BOLLERIA,VENTA,2017-01-02,9,3960,21.0,1.773,37.233
4,BOLLERIA,VENTA,2017-01-02,10,3960,30.0,1.773,53.190
...,...,...,...,...,...,...,...,...
25066,BOLLERIA,VENTA,2023-05-18,16,3960,6.0,3.273,19.638
25067,BOLLERIA,VENTA,2023-05-18,17,3960,9.0,3.273,29.457
25068,BOLLERIA,VENTA,2023-05-18,18,3960,12.0,3.273,39.276
25069,BOLLERIA,VENTA,2023-05-18,19,3960,12.0,3.273,39.276
25070,BOLLERIA,VENTA,2023-05-18,20,3960,27.0,3.273,88.371